<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" lang="de">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <h1>Login</h1>
    <span th:text="${hint}"></span>
    <form th:method="POST" th:action="@{/login}">
        <label for="username">Benutzername</label><br>
        <input type="text" name="username" id="username">    
        <br><br>
        <label for="password">Passwort</label><br>
        <input type="password" name="password" id="password">
        <br>
        <button type="submit">Anmelden</button>
    </form>
    
</body>
</html>