<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" lang="de">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neuen Braten erfassen</title>
</head>
<body>

    <h1>Braten erfassen und bearbeiten</h1>

    <form th:method="POST" th:object="${angebotform}" th:action="@{/angebot}">
        <label for="name">Anbieter</label><br>
        <input type="text" name="name" id ="name" th:field="*{name}"><br>
        <br>
        <label for="abholort">Abholort</label><br>
        <input type="text" name="abholort" id="abholort" th:field="*{abholort}"><br>
        <br>
        <label for="beschreibung">Beschreibung</label><br>
        <input type="text" name="beschreibung" id="beschreibung" th:field="*{beschreibung}"><br>
        <br>
        <label for="haltbarbis">Haltbar bis</label><br>
        <input type="date" name="haltbarbis" id="haltbarbis" th:field="*{haltbarbis}"><br>
        <br><br>
        <button type="submit">Daten absenden</button>
    </form>
    
</body>
</html>