<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" lang="de">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angebotsliste</title>
</head>
<body>

    <h1>Aktuelle Angebote</h1>

    <div th:if="${#lists.size(angebote)} > 0">
        <table>
            <tr>
                <th>Haltbar bis</th>
                <th>Anbieter</th>
                <th>Abholort</th>
                <th>Beschreibung</th>
                <th>löschen</th>
                <th>bearbeiten</th>
            </tr>
            <tr th:each="a, status: ${angebote}">
                <td th:text="${a.haltbarbis}">Haltbar bis</td>
                <td th:text="${a.name}">Anbieter</td>
                <td th:text="${a.abholort}">Abholort</td>
                <td th:text="${a.beschreibung}">Beschreibung</td>
                <td><a th:href="@{'/angebot/'+ ${status.index}+'/del'}">[del]</a></td>
                <td><a th:href="@{'/angebot/'+ ${status.index}}">[edit]</a></td>
            </tr>
        </table>
    </div>
    <div th:if="${#lists.size(angebote)} <= 0">
        Keine aktuellen Angebote!
    </div>
    <div>
        <a th:href="@{/angebot/neu}">Neuen Braten anbieten</a>
    </div>
    
    
</body>
</html>